.listItem{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listItem .listPhoto{
    width: 48.756px;
    height: 48.756px;
    flex-shrink: 0;
    border-radius: 41.791px;
}
.listItem .info{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #23262F;
    text-align: center;
    font-size: 12.189px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.895px; 
    flex: .85;
}
.info span{
    display: block;
    color: #777E90;
    text-align: center;
    font-size: 10.448px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.413px;
}