.newBid{
    padding: 11.9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background: #FFF;
    box-shadow: 0 28.48px 19px #4646460a;
    border-radius: 13.2px;
}
.newBid .fullInformation{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.fullInformation .shortPhoto{
    width: 39.874px;
    height: 39.874px;
    flex-shrink: 0;
    border-radius: 34.178px;
}
.fullInformation .textInfo{
    margin: 0 20px 0 11.39px;
}
.textInfo p{
    color: #141416;
    font-size: 13.291px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.785px;
    padding: 0;
    margin: 0;
}
.textInfo p span{
    color: #949494 !important;
}
.textInfo .bold{
    display: block;
    color: #141416;
    font-size: 11.393px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.988px; 
}
.textInfo .date{
    display: block;
    color: #949494;
    font-size: 11.393px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.988px;
}
.fullInformation .bigPhoto{
    width: 60.761px;
    height: 60.761px;
    flex-shrink: 0;
    border-radius: 10.443px;
}

