.linear{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .photo{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    .sender{
        display: flex;
        flex-direction: column;
        align-items: start;
        flex: .8;
        font-size: 15.36px;
        line-height: 140%;
        color: #141416;
        
        span{
            font-size: 12.48px;
            line-height: 150%;
            color: #64748B;
        }
    }

    .analytic{
        display: flex;
        flex-direction: column;
        align-items: end;
        
        p{
            display: flex;
            align-items: center;
            font-size: 15.36px;
            line-height: 140%;
            color: #141416;
            margin: 0;
            
            svg{
                margin-right: 7px;
            }
        }

        span{
            font-size: 13.44px;
            line-height: 150%;
        }
    }
}