.footer{
    width: 100%;
    max-width: 1300px;
    background: #141416;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 0 105px;
    margin: 160px 0 0;
}
.footer::after{
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    opacity: 0.25;
    background: #818181;
    margin-top: 100px;
}
.footer .logo{
    flex: .6;
    display: flex;
    align-items: center;
}
.logo svg{
    margin-right: 10px;
}
.logo h2{
    color: #FFF;
    font-size: 29.922px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
.sotialNetworks{
    flex: .2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}